*.o
apl
rline
aplws.abort
/Makefile
qa/Makefile
source/aplette
source/include/config.h
source/include/makefile.common
autoconf/config.cache
autoconf/config.log
autoconf/config.status
printer/apl2epson
printer/apl2gs
script/apl-setup
script/aplrc
qa/*.dif
qa/*.adif
qa/*.out
qa/*.aout
